

  @media screen and (min-width:845px) {
    .map-container {
      height: 400px;
      width: 800px;
      margin: auto;
    }
    
  }


  @media screen and (max-width:845px) {
    .map-container {
      height: 200px;
      width: 400px;
      margin: auto;
    }
    
  }